.env
.devcontainer.json
dist-newstyle/
.stack-work/
.claude/
.devenv*
devenv.local.nix
devenv.local.yaml
public/
!elm-app/public/
elm-app/public/*
!elm-app/public/fonts/
!elm-app/public/logo/
!elm-app/public/favicon/
/planet
/src/Main
/elm-app/src/Data.elm
/elm-app/.vite
TODO*
